
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Body
$body-bg: #f5f8fa;

//Colors
$primary: #064a5a;
$secondary: #ef3e5b;
$dark-gray: #393839;
$gray : #C4C4C4;
$ligth-gray: #dcddde;
$ligther-gray: #F3F2F3;






// Typography

$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
