// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";


//Components
@import "componentes";

body{
    background-color: $ligther-gray;
}

.hide{
    opacity: 0;
}

.app{
    &-wrapper{
        margin: 0;
    }
    &-content{
        width: 100vw;
    }
}

// MODIFICACION DE BOOTSTRAP

.dropdown{
    
    &-item {
        &:hover {
            background-color: $ligther-gray;
        }
        &:active {
            color: $secondary;
        }
    }
    &-header {
        font-size: 1em;
        font-weight: 600;
    }
}

.dropright > .dropdown-menu {
        border-radius : 0;
        border: 1px solid $ligth-gray;
        &:before {
            content:'';
            display:block;
            width:0;
            height:0;
            position:absolute;
        
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right:8px solid $white;

            box-shadow: inset 1px -1px 0 0 red;
            left:-8px;
        
            top:7px;
        }
}
