

.menu{
    &-wrapper{
        min-width: 200px;
        height: 100vh;
        background-color: $white;
        // display: inline-block;
        // position: absolute;
        // left: 0;
        // top: 0;
        margin: 0;
        border-right: 1px solid $ligth-gray  !important;
        transition: all 100ms ease-in-out;
            &-collapsed {
                max-width: 60px;
                min-width: 0px;
                width: 60px;
            }
    }
    &-opcion{
        display: inline-block;
        background-color: $white;
        border-bottom: 1px solid $ligth-gray  !important;
        padding: 0;
        color: $dark-gray;

        &:hover{
            background-color: $ligther-gray;
        }
    }
    &-link{
        padding-left: 2em;
        color: rgba($dark-gray, 0.6);
        font-weight: 400;
        &:hover {
            text-decoration: none;
        }
        &.dropdown-item {
            padding-left: 3em;
        }
    }
    &-submenu{
        text-align: left;

    }
    &-texto{
        //margin-top: -5px;
        font-size: 1.2em;
    }
    &-logo{
        color: $secondary;
        background: $white;
        margin: 0 -15px;
        text-align: center;
        border-bottom: 1px solid $ligth-gray !important;
    }
    &-icon{
        padding-left: 6px;
        // i {
        //     // font-size: em !important;
        // }
    }
    &-footer{
        position: absolute;
        padding-left: 0;
        bottom: 0;
    }
    &-collapse-btn {
        cursor: pointer;
    }
    &-submenu-collapsed {
        margin-left: -15px !important;
        // background-color: $white;
        opacity: 0;
        transform: translateX(-100px);
        transition: all 100ms ease-in-out;
        &.submenu-show {
            transform: translateX(0px);
            opacity: 1;
        }
    }
}



